bin/
obj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
_ReSharper*/
TestResults/
*.trx
*.coverage
*.coveragexml
coverage/
coverage.*
BenchmarkDotNet.Artifacts/
artifacts/
packages/
*.nupkg
*.snupkg
*.pfx
*.p12
*.log
assets/*-v*.png
assets/*-v*.ico
